body {
    font-family: var(--font-unica);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#menu {
    display: none;
}

#pagename {
    font-size: 1.25rem;
}

.menu__container--large {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    gap: 2rem;
}

.apresentacao__container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.apresentacao__titulo {
    font-size: 1rem;
    font-weight: bold;
}

.apresentacao__texto {
    color: var(--white-100);
    font-size: 1rem;
    opacity: 0.8;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h3 {
    display: none;
}

.contato__container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 2rem;
}

@media screen and (min-width: 920px) {
    header {
        padding: 1rem 4rem 1rem 6rem;
        min-height: 80px;
    }

    .menu__container--small {
        display: none;
    }

    .menu__container--large {
        display: block;
    }

    .menu__lista {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        list-style: none;
        font-weight: 500;
    }

    .menu__item {
        color: white;
        padding: 0.5rem 2rem;
        text-decoration: none;
    }

    li:last-child .menu__item{
        border-radius: 40px;
    }

    main {
        padding: 4rem 6rem;
    }
    
    .apresentacao__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .apresentacao__container:last-child {
        display: flex;
        flex-direction: row-reverse;
        gap: 10rem;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .apresentacao__titulo {
        font-size: 2rem;
        height: 2rem;
    }

    .apresentacao__titulo--large {
        font-size: 4rem;
        padding: 1rem 0;
        height: 4rem;
    }
    
    .apresentacao__texto {
        font-size: 1.88rem;
        opacity: 0.5;
    }
    
    footer {
        position: static;
        bottom: 0;
    }

    footer h3 {
        display: block;
        color: var(--white-100);
        font-size: 1.5rem;
        opacity: 0.5;
    }
    
    .contato__container {
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem 1rem 6rem;
    }

    .contato__container img:nth-child(2){
        padding: 0 2.5rem;
    }

}

@media screen and (min-width: 1300px) {

    footer {
        position: fixed;
        bottom: 0;
    }

    .contato__container {
        padding: 2rem 4rem 2rem 6rem;
        gap: 1.5rem;
    }
}