@import url('./home.css');

:root {
    --background-synthwave: #140626;
    --purple-synthwave: linear-gradient(180deg, #140626 0%, #240940 16.15%, #B83DA3 97.92%);
    --pink-synthwave: linear-gradient(91.36deg, #F2059F 0%, #F29E05 100%);
    --pink-synthwave-2: linear-gradient(91.36deg, #F2059F 0%, #F29E05 50%);
    --pink-shadow: rgba(184, 61, 163, 0.75);

    --background-acid: #0E1B00;
    --green-acid: linear-gradient(180deg, #032900 0%, #0E1B00 0.01%, #032900 19.1%, #89FF00 100%);
    --yellow-acid: linear-gradient(90deg, #89FF00 0%, #FDFF00 100%);
    --yellow-acid-2: linear-gradient(90deg, #89FF00 0%, #FDFF00 50%);
    --green-shadow: rgb(137, 255, 0);

    --white-100: #FFFFFF;
    --font-unica:'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background__container-synthwave {
    background-color: var(--background-synthwave);
}

.color__button-synthwave {
    background: linear-gradient(90deg, #F2059F 0%, #F29E05 100%);
    color: var(--background-synthwave);
}

.color__titulo-synthwave {
    background: var(--pink-synthwave);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.color__titulo-synthwave-2 {
    background: var(--pink-synthwave-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.box-shadow-synthwave {
    box-shadow: 0 0 0.625rem var(--pink-shadow);
}


.background__container-acid {
    background-color: var(--background-acid);
}

.color__button-acid {
    background: var(--yellow-acid);
    color: var(--background-acid);
}

.color__titulo-acid {
    background: var(--yellow-acid);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.color__titulo-acid-2 {
    background: var(--yellow-acid-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.box-shadow-acid {
    box-shadow: 0 0 0.625rem var(--green-shadow);
}